/**********************************************
    Sara L. - UO283706
    Descripcion del layout de las demás páginas
**********************************************/

    /*Especificidad:(0,0,1) A=0 B=0 C=1*/
    body{
        display: grid;
        grid-template-areas: 
          "header header"
          "nav nav"
          "main main"
          "tabla tabla"
          "footer footer";
        gap: 0.5vw;
        min-height: 5em;
    
    }
    
    /*Especificidad:(0,0,1) A=0 B=0 C=1*/
    main{
        display: grid;
        grid-area: main;
    }
    
    /*Especificidad:(0,0,1) A=0 B=0 C=1*/
    header{
        display: flex;
        grid-area: header;
        justify-content: center;
    }
    
    /*Especificidad:(0,0,1) A=0 B=0 C=1*/
    nav{
        display: grid;
        grid-area: nav;
        justify-content: center;
    }
    
    /*Especificidad:(0,0,1) A=0 B=0 C=1*/
    footer{
        display: flex;
        grid-area: footer;
        justify-content: center;
    }

    table{
        display: grid;
        grid-area: tabla;
        justify-content: center;
    }
    
