/**********************************************
    Sara L. - UO283706
    Descripcion de los estilos
**********************************************/
    body{
        display: grid;
        grid-template-areas: 
          "header header"
          "nav nav"
          "main main"
          "aside aside"
          "footer footer";
        gap: 0.5vw;
        min-height: 5em;
    
    }
    
    main{
        display: grid;
        grid-area: main;
        align-self: center;
    }
    
    header{
        display: grid;
        grid-area: header;
    }
    
    nav{
        display: grid;
        grid-area: nav;
        align-self: center;
    }
    
    aside{
        display: grid;
        grid-area: aside;
    }
    
    footer{
        display: grid;
        grid-area: footer;
    }
    
